.titleintro {
  text-size-adjust: 80%;
}

.formbox {
  text-indent: 10px;
  border-style: inset;
}

.jumbotron {
  background-color: lightblue;
  border-style: ridge;
}

.classlanguage {
  max-width: auto;
  max-height: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  background-color: khaki;
  font-size: 200%;
}

.programLang1 {
  display: none;
}

.programLang2 {
  display: none;
}

.programLang3 {
  display: none;
}

.programLang4 {
  display: none;
}

.programLang5 {
  display: none;
}

.programLang6 {
  display: none;
}

.resultImag {
  max-width: 500px;
  max-height: 500px;
}

